<div >
  <div class="jumbotron ">
     <h3>Recherche</h3>
  <h4>Nom <input class="form-control" ng-model="searchName"></h4>
  <br/>
  <h4>Ville <input class="form-control" ng-model="searchCity"></h4>
  <br/>
</div>
  <div class="row">
    <div class="col-sm-4 col-xs-5" ng-repeat="element in liste| filter:{name:searchName} | filter:{location: {city: searchCity}}">
      <div class="thumbnail">
        <img src="http://placehold.it/250x150&text=img1" alt="">
        <div class="caption">
          <h4>{{element.name}}</h4>
          <a href="#!/gerant/site/{{element.id}}" type="button" class="btn btn-primary btn-sm">Editer</a>
          <button class="btn btn-primary btn-sm" ng-click="delete(element)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
