<div >
<div class="jumbotron ">
  <h3>Search</h3> 
<h4>Name <input class="form-control" ng-model="searchName"></h4>
<br/>
<h4>Type d'activité</h4>
<br/>
<label>
  <input type="radio" ng-model="searchType" name="group1"  checked>
  All
</label><br/>
<label>
    <input type="radio" ng-model="searchType" name="group1" value="Sport">
    Sport
  </label><br/>
  <label>
    <input type="radio" ng-model="searchType" name="group1" value="Leisure">
    Leisure
  </label><br/>
</div>


  <div class="row">
    <div class="col-sm-4 col-xs-5" ng-repeat="element in liste| filter:{name:searchName} | filter:{type:searchType}">
      <div class="thumbnail">
        <img src="http://placehold.it/250x150&text=img1" alt="">
        <div class="caption">
          <h4>{{element.name}}</h4>
          <div ng-if="currentUser && !isActivities(element.id)">  <button class="btn btn-primary" ng-click="ajouter(element.id)">Ajouter comme favorie</button></div>
          <div ng-if="currentUser && isActivities(element.id)">  <button class="btn btn-primary" ng-click="enlever(element.id)">Enlever comme favorie</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
