<div ng-controller='LoginCtrl'>

    <form name="registrationForm"
      ng-submit="register(credentials)" novalidate>
  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.pseudo">
  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">
  <button type="submit">Register</button>

</form>
<form name="loginForm"
  ng-submit="login(credentials)" novalidate>
<label for="username">Username:</label>
<input type="text" id="username"
     ng-model="credentials.pseudo">
<label for="password">Password:</label>
<input type="password" id="password"
     ng-model="credentials.password">
<button type="submit">Login</button>

</form>

<button ng-click="logout()">Logout</button>

  </div>
