<div class="jumbotron">
<div class="container text-center">

<!-- Guest -->
      <h2>Bienvenue sur WeekEndNotif</h2>
      <div ng-if="!currentUser">
        <p class="lead" >
          <img src="images/pluie.jpg"><br>

          Laissez nous preparer votre Week-end.
        </p>
          <p><a ng-if="!currentUser" class="btn btn-lg btn-success" ng-href="#!/register">Let's Begin! <span class="glyphicon glyphicon-ok"></span></a></p>
      </div>
      <!-- User -->
      <div ng-if="currentUser && isAuthorized(userRoles.user)">


        <br>
        <h4><strong>C'est très simple, Vous :</strong></h4>
        <ul class="list-unstyled" >
          <li>Choisissez vos lieux de prédilection</li>
          <li>Choisissez vos activitées favories (Sport, Loisir)</li>
          <li>C'est fait!</li>
        </ul>

        <br>
        <h4><strong>Nous :</strong></h4>
        <h5>Envoyons une notification le Jeudi avec :</h5>
        <ul class="list-unstyled">
          <li>Une liste de sites en fonction de vos préférences.</li>
          <li>La méteo du samedi et du dimanche.</li>
        </ul>

        <p><a class="btn btn-lg btn-success" ng-href="#!/locations">Choisissez vos lieux<span class="glyphicon glyphicon-home"></span></a>
          <a class="btn btn-lg btn-info" ng-href="#!/activities">Choisissez vos activitées<span class="glyphicon glyphicon-glass"></span></a>
        </p>

      </div>
          <!-- Gerant -->

          <div ng-if="currentUser && isAuthorized(userRoles.gerant)">
  <p><a class="btn btn-lg btn-success" ng-href="#!/gerant/addsite">Ajouter un site <span class="glyphicon glyphicon-ok"></span></a></p>
</div>



  </div>
</div>
