
<div ng-controller="RegisterCtrl">
  <form  novalidate ng-submit="form.$valid && register(credentials)" name="form" >
    <div  iv class="form-group">

      <label  for="username">Pseudo (6 or more characters)</label>
      <input class="form-control" type="text" id="username" name="pseudo" ng-model="credentials.pseudo" ng-minlength="6" ng-maxlength="30" required >
      <div ng-messages="form.pseudo.$error" ng-if="form.$submitted" role="alert">
        <div ng-message="required" class="text-danger">Please enter a pseudo</div>

        <div ng-message="minlength" class="text-danger">Your pseudo is too short</div>

        <div ng-message="maxlength" class="text-danger">Your pseudo is too long</div>


      </div>
        <div ng-if="errors" class="text-danger">{{errors}}</div>

      <br>

    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password"  ng-model="credentials.password" ng-minlength="6" ng-maxlength="60" required>
    <div ng-messages="form.password.$error" ng-if="form.$submitted" role="alert">
      <div ng-message="required" class="text-danger" >Please enter a password</div>
      <div ng-message="minlength" class="text-danger">Your password is too short</div>
      <div ng-message="maxlength" class="text-danger">Your password is too long</div>

    </div>


      <br>

    <label  for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" ng-model="credentials.emailAddress" required>
    <div ng-messages="form.email.$error" ng-if="form.$submitted" role="alert">
      <div ng-message="required" class="text-danger">Please enter an email address</div>
      <div ng-message="email" class="text-danger">Must be a valid email address</div>
    </div>

      <br>



  <button class="btn btn-primary" type="submit">Register</button>
</div>
</form>


</div>
