
<div ng-controller="RegisterCtrl">
  <form  novalidate ng-submit="form.$valid && register(credentials)" name="form" >
    <div  iv class="form-group">

      <label  for="username">Pseudo (6 ou plus caractères)</label>
      <input class="form-control" type="text" id="username" name="pseudo" ng-model="credentials.pseudo" ng-minlength="6" ng-maxlength="16" required >
      <div ng-messages="form.pseudo.$error" ng-if="form.$submitted" role="alert">
        <div ng-message="required" class="text-danger">Veuillez mettre un Pseduo</div>

        <div ng-message="minlength" class="text-danger">Votre pseudo est trop court</div>

        <div ng-message="maxlength" class="text-danger">Votre pseudo est trop long</div>


      </div>
        <div ng-if="errors" class="text-danger">{{errors}}</div>

      <br>

    <label for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password"  ng-model="credentials.password" ng-minlength="6" ng-maxlength="60" required>
    <div ng-messages="form.password.$error" ng-if="form.$submitted" role="alert">
      <div ng-message="required" class="text-danger" >Veuillez mettre un password</div>
      <div ng-message="minlength" class="text-danger">Votre password est trop court</div>
      <div ng-message="maxlength" class="text-danger">Votre password est trop court</div>

    </div>


      <br>

    <label  for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" ng-model="credentials.emailAddress" required>
    <div ng-messages="form.email.$error" ng-if="form.$submitted" role="alert">
      <div ng-message="required" class="text-danger">Veuillez mettre une adresse email</div>
      <div ng-message="email" class="text-danger">Cela doit etre une adresse email valide</div>
    </div>

      <br>



  <button class="btn btn-primary" type="submit">Je m'inscris</button>
</div>
</form>


</div>
